[Desktop Entry]
Type=Application
Name=FreeFlume
GenericName=YT Client
Comment=A fast, native desktop YT client
Exec=freeflume %U
Icon=freeflume
Terminal=false
Categories=AudioVideo;Video;Player;Network;
Keywords=yt;video;stream;mpv;yt-dlp;
StartupNotify=true
StartupWMClass=freeflume
